<!-- begin footer -->
<footer class="footer">
	<div class="footer__container container_small container">
		<div class="footer__wrapper">
			<div class="footer__left">
				<a href="#" class="footer__logo logo">ModaX</a>
				<div class="footer__social-links social-links">
					<a href="#" class="social-link"><i class="fa fa-facebook"></i></a>
					<a href="#" class="social-link"><i class="fa fa-twitter"></i></a>	
					<a href="#" class="social-link"><i class="fa fa-behance"></i></a>
					<a href="#" class="social-link"><i class="fa fa-dribbble"></i></a>
					<a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
				</div>
			</div>
			<div class="footer__center">
				<nav class="footer-navigation navigation-mnu">
					<ul class="footer-navigation__list navigation-mnu__list">
						<li class="footer-navigation__item navigation-mnu__item">
							<a href="#" class="footer-navigation__link navigation-mnu__link">Man</a>
						</li>
						<li class="footer-navigation__item navigation-mnu__item">
							<a href="#" class="footer-navigation__link navigation-mnu__link">Woman</a>
						</li>
						<li class="footer-navigation__item navigation-mnu__item">
							<a href="#" class="footer-navigation__link navigation-mnu__link">Lookbook</a>
						</li>
						<li class="footer-navigation__item navigation-mnu__item">
							<a href="#" class="footer-navigation__link navigation-mnu__link">Sale</a>
						</li>
						<li class="footer-navigation__item navigation-mnu__item">
							<a href="#" class="footer-navigation__link navigation-mnu__link">Blog</a>
						</li>
					</ul>
				</nav>

				<div class="footer__subscribe-wrapper">
					<div class="footer__subscribe-news subscribe-news">
						<span class="subscribe-news__title">Subscribe to news</span>
						<form class="subscribe-news__form">
							<input type="text" placeholder="Email Adrress" class="subscribe-news__input">
							<button class="subscribe-news__button">Submit</button>
						</form>
					</div>
				</div>

			</div>
			<div class="footer__right">
				<div class="footer-contacts">
					<span class="footer-contacts__title">Contact US</span>
					<p class="footer-contacts__text">
						San Francisco, California<br>
						400 Castro St, San Francisco, CA<br>
						(+1) 686-868-9999
					</p>
				</div>
				<div class="footer__payments payments">
					<div title="visa" class="payment"><img src="img/payments/visa.png" alt="visa"></div>
					<div title="paypal" class="payment"><img src="img/payments/paypal.png" alt="paypal"></div>
					<div title="mastercard" class="payment"><img src="img/payments/mastercard.png" alt="mastercard"></div>
					<div title="maestro" class="payment"><img src="img/payments/maestro.png" alt="maestro"></div>
					<div title="amex" class="payment"><img src="img/payments/amex.png" alt="amex"></div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end footer -->
