.icon-arrow-right-c {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bag {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ios-arrow-forward {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ios-arrow-thin-left {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ios-arrow-thin-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ios-contact-outline {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ios-search-strong {
  width: 1em;
  height: 1em;
  fill: initial;
}
